<mat-toolbar color="primary">

  <mat-toolbar-row>

    <mat-card-title><i class="material-icons">wb_auto</i></mat-card-title> <span> {{ appTitle }}</span>
    <span class="example-spacer"></span>

    <button mat-button [matMenuTriggerFor]="app_list"><i class="material-icons">keyboard_arrow_down</i>APP COLLECTION</button>

    <div mat-card-avatar class="example-header-image" mat-icon-button [matMenuTriggerFor]="menu">{{  LoginUserChar | uppercase }}</div>
  </mat-toolbar-row>


</mat-toolbar>


<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink=''>
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>input</mat-icon>
      <span>Log Off</span>
    </button>
</mat-menu>



<mat-menu #app_list="matMenu">
  <button mat-menu-item routerLink='/communication'>Mailing & Messaging</button>
</mat-menu>

