<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>App Warehouse</span>
    <span class="example-spacer"></span>

    <button mat-button [matMenuTriggerFor]="app_list">APP COLLECTION</button>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>

  </mat-toolbar-row>


</mat-toolbar>


<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>input</mat-icon>
      <span>Log Off</span>
    </button>
</mat-menu>



<mat-menu #app_list="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="training">Training</button>
</mat-menu>

<mat-menu #training="matMenu">
  <button mat-menu-item>Current training</button>
  <button mat-menu-item>New Training</button>
  <button mat-menu-item>Past Training</button>
</mat-menu>
