<div class="mat-elevation-z8">

  <mat-accordion>
    <mat-expansion-panel *ngFor="let draftemail of DraftEmails">
      <mat-expansion-panel-header>
        <mat-panel-title>
          To:&nbsp;&nbsp; <span class="member-count-style">{{ draftemail.recipient_emails.split(',').length }}</span> Person
        </mat-panel-title>
        <mat-panel-description>
          <mat-chip-list><mat-chip class="chipSubject">{{ draftemail.email_subject }}</mat-chip></mat-chip-list>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-card class="mat-card-sentbody">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>App Warehouse</mat-card-title>
          <mat-card-subtitle>to

            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" matTooltip="Show Details">
              <mat-icon>arrow_drop_down</mat-icon>
            </button>

          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="mail-body" innerHTML="{{ draftemail.email_body }}"></div>
        </mat-card-content>
      </mat-card>

      <!-- SHOW DETAILS MENU -->
      <mat-menu #menu="matMenu">
        <p mat-menu-item>
          From:
          <span>App Warehouse</span>
        </p>
        <p mat-menu-item >
          To:
          <span>{{ draftemail.recipient_emails }}</span>
        </p>
        <p mat-menu-item>
          Date:
          <span>{{ draftemail.Timestamp.substr(0,draftemail.Timestamp.indexOf('T')) }}</span>
        </p>
        <p mat-menu-item>
          Time:
          <span>{{ draftemail.Timestamp.substr(draftemail.Timestamp.indexOf('T') + 1) }}</span>
        </p>
      </mat-menu>

    </mat-expansion-panel>

  </mat-accordion>




</div>
